* {
margin: 0;
padding: 0;
box-sizing: border-box; 
}

body { font-size: 18px; }
p, a, span, h1, h2, h3, h4, h5, h6, li{ font-family: system-ui; }

p, a, span {
	font-size: 1rem;
}

.cabecera {
	width: 100%;
}

.menu {
	width: 100%;
	height: 4rem; 
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	background: white;
}

.logo {
	width: 15rem;
	display: flex;
	padding-right: 2rem;
	text-decoration: none;
	align-items: center;
}

.logo-imagen {
	object-fit: contain;
	width: 3rem; height: 3rem;
	margin-right: 1rem;
}

.logo-texto {
	line-height: 1.3rem;			
	font-weight: 500;
	color: #222222;
}

.logo-titulo {
	text-transform: uppercase;
	font-size: 1.4rem;
}

.logo-subtitulo {
	font-size: 0.9rem;
}


.enlaces {
	display: flex;
	width: 35rem;
	position: relative;
	justify-content: space-between;
	gap: 1rem;
}

.menu-enlaces { 
	position: relative;
	width: max-content;
} 

.menu-link::before {
	content: "";
	width: 0;
	position: absolute;
	bottom: -1px;
	left: 0;
	border-bottom: 1px solid black;
	z-index: 20;
	transition: 0.5s;
}

.menu-link {
	font-size: 1rem;
	padding: 0.5rem;
	text-transform: uppercase;
	color: #888888;
	text-decoration: none;
	transition: 0.2s;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid transparent;
	position: relative;
}

.menu-link:hover {
	color: black;
}

.menu-link:hover::before {
	width: 100%;
}


.submenu-enlaces {
	max-height: 0;
	overflow: hidden;
	width: 12rem;
	display: flex;
	flex-direction: column;
	background: white;
	position: absolute;
	right: 0;
	transition: max-height 0.5s ease-in-out;
	box-shadow: 0 0 10px #eeeeee;
	z-index: 1;
}

.submenu-link {
	color: #888888;
	text-decoration: none;
	font-size: 0.9rem;
	text-transform: uppercase;
	transition: 0.5s;
	padding: 0.5rem;
	margin: 0.5rem;
}

.submenu-link:hover {
	color: black;
}

.submenu-enlaces-mostrar {
	max-height: 30rem;
}

.menu-link-activado {
	color: black;
	border-bottom: 1px solid black;
}

.menu-logo {
	width: 1.3rem;
	height: 1.3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	display: none;
}

.menu-icono {
	width: 100%;
	height: 25%;
	background: black;
	border: 1px solid black;			
	transition: background 0.5s;
}

.menu-icono-activo {
	background: transparent;
}

.cabecera-contenido {
	width: 100%;
	height: 50vh;
	min-height: 30rem;
	background: #efefef;
	padding: 2rem 10%;
	display: flex;
	justify-content: center;
}

.carrusel {
	display: flex;
	width: 50%;
	max-width: 50rem;
	height: 26rem;
	margin: 0 3rem;
	overflow: hidden; 
}

.carrusel-imagen {
	min-width: 100%;
	height: 100%;
	object-fit: cover;
	transition: 0.5s;
}

.cabecera-contenido-info {			
	width: 50%;
	margin-top: 5rem;
	height: max-content;
}

.cabecera-contenido-info-titulo {
	font-size: 5rem;
	text-transform: uppercase;
}

@media screen and (max-width: 630px) {
	.cabecera-contenido-info-titulo {
		font-size: 2.5rem;
	}		
}

.anuncio {
	width: 40%;
	height: 60%;
	float: left;
	margin: 2rem 2rem 2rem 0;
}

.anuncio-imagen {
	width: 100%;
	height: 100%;
	object-fit: cover;
} 

@media screen and (max-width: 1100px) {
	.cabecera-contenido {
		flex-direction: column;
		height: auto;
		padding: 2rem 0;
	}

	.carrusel {
		width: 80%;
		margin: auto;
	}

	.cabecera-contenido-info {
		width: 80%;
		margin: auto;
		text-align: center;
		margin-top: 2rem;
	}

	.anuncio {
		display: none;
	}
}


@media screen and (max-width: 950px) {

	html {
		overflow-x: hidden;
	}

	body {
		width: 100%;
		overflow-x: hidden;
	}

	.cabecera {
		width: 100%;
		position: relative;
	}

	.menu {
		padding: 0 2rem;
	}

	.logo {
		width: auto;
		padding: 0;
	}

	.menu-logo {
		display: flex;
	}

	.enlaces {
		z-index: 100;
		width: 100%;
		max-width: 20rem;
		height: calc(100vh - 4rem); 
		position: absolute;
		background: white;
		top: 4rem;
		right: 0;
		padding-top: 2rem;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		overflow-y: auto;
		transition: transform 0.5s;
		transform: translateX(100%);
	}

	.enlaces-mostrar { 
		display: flex;
		transform: translateX(0);
	}

	.menu-link, .menu-enlaces {
		width: 15rem;
	}

	.submenu-enlaces {
		width: 100%;
		position: relative;
		background: #fafafa;
		box-shadow: none;
	} 

}

.contenido {
	width: 100%;
	padding: 2rem 4rem 4rem;
	background: white;
	text-align: justify;
}


.pie {
	width: 100%;
}

.pie-contenido {
	padding: 3rem 2rem;
	width: 100%;
	background: #181818;
	display: flex;
	justify-content: center;
}

.pie-contenido-enlaces {
	max-width: 30rem;
	width: 50%;
	margin: 0 2rem;
	text-align: center;
}

.pie-contenido-enlaces-titulo {
	color: #cccccc;
	text-transform: uppercase;
	margin: 1rem 0;
}

.pie-contenido-enlaces-link {
	color: #999999;
	display: inline-block;
	background: #111111;
	padding: 0.5rem;
	text-decoration: none;
	border-radius: 5px;
	margin: 0.3rem 0;
}

.pie-contenido-enlaces-link:hover {
	background: #222222;

}

.pie-contenido-info {
	width: 50%;
	max-width: 30rem;
	margin: 0 2rem;
}

.pie-contenido-info-titulo {
	color: #cccccc;
	text-transform: uppercase;
	margin: 1rem 0;
	text-align: center;
}

.pie-contenido-info-texto {
	color: #999999;
	text-align: justify;
}

.pie-copy {
	width: 100%;
	background: #111111;
	color: #999999;		
	padding: 0.4rem;
}

.pie-copy-texto {
	font-size: 0.9rem;
	text-align: center;
}


@media screen and (max-width: 620px) {
	.pie-contenido {
		flex-direction: column;
	}

	.pie-contenido-enlaces {
		width: 80%;
		margin: 1rem auto;
	}

	.pie-contenido-info {
		width: 80%;
		margin: 1rem auto;
	}

	.espacio {
		width: 85%;
		margin: auto;
	}
}


.contenido-nuevo {
	width: 100%;
	display: grid;
	place-items: center;
	padding: 4rem 0;

}


.contenido-titulo {
	margin: 0 0 2rem 0;
}

.organigrama {
	width: 100%;
	max-width: 50rem;
	object-fit: contain;
}

.himno {
	width: 20rem;
	background: linear-gradient(#1189ca, #11a5a5 );
	text-align: center;
	padding: 1rem;
	border-radius: 10px;
	color: white;
}

iframe {
	max-width: 60rem;
}

.covid {
	width: 90%;
	max-width: 70rem;
	background: #dbf1ff;
	padding: 2rem;
	border-radius: 20px;
}

.imagen-covid {
	width: 50%;
	margin: auto;
	float: right;
	margin: 0 0 2rem 2rem;
}

.covid-titulo {
	color: black;
}

.texto-covid {
	text-align: justify;
}

@media screen and (max-width: 1000px) {
	.imagen-covid {
		width: 100%;
	}
}

.imagenes-galeria {
	width: 90%;
	max-width: 60rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
}

.galeria-fotos {
	width: 45%;
	object-fit: cover;
}

.galeria-titulo {
	margin-bottom: 2rem;
	color: orange;
	text-align: center; 
}

.ideal {
	width: 90%;
	max-width: 25rem;
	border-radius: 5px;
	padding: 2rem;
	color: white;
}

.mision {
	background: linear-gradient(135deg, #3300ff, #50bfff);
}

.vision {
	background: linear-gradient(135deg, #ff6845, #ffa26c);
}

.valores {
	background: linear-gradient(135deg, #53b73a, #78ff8f);
}

h3 {
	margin: 1rem 0;
	text-transform: uppercase;
	color: white;
	border-bottom: 1px solid white;
	width: 100%;
}

h4 {
	margin: 1rem 0;
}

.contenido-nuevo2 {
	width: 90%;
	margin: 2rem auto;
}

.ideales {
	width: 100%;
	max-width: 60rem;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	margin: auto;
}

.contenido-titulo2 {
	text-align: center;
	margin: 2rem;
}

.capacitaciones {
	margin-bottom: 10rem;
	width: 90%;
	max-width: 60rem;
}

.materias-titulo {
	color: black;
}

table {
	width: 90%;
	max-width: 60rem;
	border-collapse: collapse;
}

.persona {
	font-size: 1rem;
	padding: 2rem;
	border: 0;
} 

.seccion-inicio {
	width: 90%;
	max-width: 80rem;
	margin: auto;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

.seccion-inicio-info {
	max-width: 40rem;
	width: 100%;
	min-width: 10rem;
}

.logo-escolar {
	width: 100%;
	max-width: 20rem;
	height: 20rem;
	object-fit: contain;
	flex-wrap: wrap;
}

.seccion-inicio-info {
	text-align: justify;
}

.inicio-titulo {
	font-size: 3rem;
	color: midnightblue;
	margin: 0 0 2rem 0;
}

.separador {
	width: 90%;
	max-width: 50rem;
	margin: 4rem auto;
}

.inicio-enlaces {
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.inicio-enlace {
	background: midnightblue;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	transition: 0.5s;
	border: 1px solid midnightblue;
}

.inicio-enlace:hover {
	background: white;
	color: midnightblue;
}

.pagina {
	padding: 0 2rem;
}

@media screen and (max-width: 1120px) {


	.inicio-titulo {
		text-align: center;
	}

	.inicio-enlaces {
		justify-content: center;
	}

}

.seccion-educativa {
	width: 90%;
	max-width: 80rem;
	margin: auto;
	display: flex;
	gap: 2rem;
	flex-wrap: wrap;
	justify-content: center;
}

.imagen-escuela {
	width: 100%;
	max-width: 40rem;
	height: 20rem;
	object-fit: contain;
}

.educativa-enlaces {
	margin: 1rem 0;
	display: flex;
	gap: 1rem;
	flex-wrap: wrap;
}

.educativa-enlace {
	padding: 1rem;
	background: #eeeeee;
	color: black;
	text-decoration: none;
	border: 1px solid #cccccc;
	border-radius: 5px;
	transition: 0.5s;
}

.educativa-enlace:hover {
	background: #333333;
	color: white;
	text-decoration: none;
	border: 1px solid #cccccc;
	border-radius: 5px;
} 

.otros {
	width: 90%;
	max-width: 60rem;
	margin: auto;
	text-align: center;
}

.otros-enlaces {
	display: flex;
	gap: 1rem;
	justify-content: center;
	flex-wrap: wrap;
}

.otros-enlace {
	display: grid;
	place-items: center;
	width: 45%;
	height: 10rem;
	text-decoration: none;
	border-radius: 10px;
	margin: 1rem;
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
}

.o1 {
	background: linear-gradient(135deg, #ff9c77, #fffb8a);
}

.o2 {
	background: linear-gradient(135deg, #2c5589, #a0cbff);
}
@media screen and (max-width: 900px) {
	.otros-enlace {
		width: 100%;
	}	
}
